<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576680451478-cm2ef9rt5r0hvmeb78kira2uda8br04s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576680451478-cm2ef9rt5r0hvmeb78kira2uda8br04s</string>
	<key>API_KEY</key>
	<string>AIzaSyB-hUqhvHx4H_rktY7347WkaWKoOTikRDw</string>
	<key>GCM_SENDER_ID</key>
	<string>576680451478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fire.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fire-5a835</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-5a835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576680451478:ios:e28fd67e12bdb7879911b7</string>
</dict>
</plist>